<div class="row">
	<div class="col-xs-6 no-padding">
		<% (0...12).each do |hour|%>
			<div class="col-xs-1 no-padding">
				<%= render partial: 'hour', locals: { hour: day[hour] } %>
			</div>
		<%end%>
	</div>
	<div class="col-xs-6 no-padding">
		<% (12...24).each do |hour|%>
			<div class="col-xs-1 no-padding">
				<%= render partial: 'hour', locals: { hour: day[hour] } %>
			</div>
		<%end%>
	</div>
</div>