<div class="row">
	<div class="col-xs-12">
			<table class="table table-hover table-responsive table-bordered">
				<tbody>
					<tr>
						<td class="active"><strong>Status</strong></td>
						<% tracks.each do |data| %>
							<% if data.status %>
								<td><%= 'ON' %></td>
							<% else %>
								<td><%= 'OFF' %></td>
							<% end %>
						<% end %>
					</tr>
					<tr>
						<td class="active"><strong>Timestamp</strong></td>
						<% tracks.each do |data| %>
							<td><%= data.created_at.strftime("%d/%m, %H:%M") %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
</div>
