/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.no-padding{
	padding:0!important;
}

.text-center{
	text-align:center;
}

.progress-container-bordered{
	border-right:1px solid #404040;
}

.track-chart-head{
	text-align:center;
	font-size:12px;
	border-right:1px solid #47AC47;
	padding:0!important;
}

.table td, .table th{
	text-align:center;
}

.form-control[readonly] {
	background-color:#FFFFFF!important;
}